




/*********************************************************************************/
body {
  font-family: Arial, sans-serif; /* Fontul principal pentru conținut */
  margin: 0;      /* Fără margini implicite */
  padding: 0;     /* Fără padding */
  text-align: center;  /* Centrează textul în pagină */
  background-color: ffffff;
  background: url('floor-tile.png') no-repeat center center/cover;
  background-size: 200px; /* Ajustează dimensiunea dorită */
  background-repeat: repeat;

}

h1 {
  font-family: "Times New Roman", Times, serif;  /* Font clasic */
  font-style: italic;                              /* Stil italic */
}


p {
  font-family: "Times New Roman", Times, serif;  /* Font clasic */
  font-style: italic;                              /* Stil italic */
}

.welcome-image {
  width: 100%;           /* Imaginea se întinde pe 100% din container (responsive) */
  max-width: 100%;      /* Lățime maximă de 600px */
  /*height: ;*/         /* Înălțimea nu este specificată, astfel încât se păstrează raportul original */
  display: block;        /* Afișare ca element bloc */
  margin: 0px auto;      /* Centrează imaginea orizontal */
  /*align-items: center;*/ /* Comentariu: proprietate nefolosită aici */
}



footer {
  color: rgba(13, 12, 12, 0.589);
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: #ccc;
  p{
     padding-top: 3%;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  width: 100%;
}

#low {
  text-align: right;
  font-size: xx-small;
}

#low2 {
  text-align: left;
  font-size: xx-small;
  height: 5px;
}

