body {
  font-family: Arial, sans-serif; /* Fontul principal pentru conținut */
  margin: 0;      /* Fără margini implicite */
  padding: 0;     /* Fără padding */
  text-align: center;  /* Centrează textul în pagină */
  background-color: ffffff;
  background: url('floor-tile.png') no-repeat center center/cover;
  background-size: 200px; /* Ajustează dimensiunea dorită */
  background-repeat: repeat;

}

h1 {
  font-family: "Times New Roman", Times, serif;  /* Font clasic */
  font-style: italic;                              /* Stil italic */
}


p {
  font-family: "Times New Roman", Times, serif;  /* Font clasic */
  font-style: italic;                              /* Stil italic */
}

.welcome-image {
  width: 100%;           /* Imaginea se întinde pe 100% din container (responsive) */
  max-width: 100%;      /* Lățime maximă de 600px */
  /*height: ;*/         /* Înălțimea nu este specificată, astfel încât se păstrează raportul original */
  display: block;        /* Afișare ca element bloc */
  margin: 0px auto;      /* Centrează imaginea orizontal */
  /*align-items: center;*/ /* Comentariu: proprietate nefolosită aici */
}



/* Stilizarea footer-ului */
footer {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

/* Stilizare pentru iconițele de social media */
#low2 a, #low a {
  font-size: 10px; /* Dimensiune mai mică pentru text */
  display: inline-block;
  margin: 5px 10px;
}

/* Stilizare pentru iconițele fa */
#low2 i, #low i {
  font-size: 18px; /* Iconițele vor fi mai mici */
  margin-right: 8px;
}

/* Stilizare pentru email și telefon */
#mail i {
  font-size: 14px; /* Dimensiune mai mică pentru iconițele de email și telefon */
  margin-right: 8px;
}

#low {
  
  text-align: right;
  font-size: xx-small;
}

#low2 {
  height: 5px;
  text-align: left;
  font-size: xx-small;
}

#year {
  font-weight: bold;
  color: #333;
}

/* Responsive pentru dispozitive mici */
@media (max-width: 768px) {
  #low2 i, #low i {
      font-size: 13px; /* Mărimea iconițelor pe mobil */
  }
  
  #low a, #low2 a {
      font-size: 12px; /* Mărimea textului pe mobil */
  }
}