/*welcomeimage*/
#welcome {
  margin: 0;
  padding: 0;
}

#welcome img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.welcome-image {
  width: 100%;            
  max-width: 100%;      
  display: block;         
  margin: 0px auto;       
}
/*/welcomeimage*/



/*navbar*/
.navbar-brand{
  font-family: "Comfortaa", sans-serif;
}

.nav-item {
  font-family: 'Libre Baskerville', serif;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
/*/navbar*/



/*body*/
body {
  font-family: Arial, sans-serif; 
  margin: 0;      
  padding: 0;     
  text-align: center;  
  background-color: ffffff;
  background: url('floor-tile.png') no-repeat center center/cover;
  background-size: 200px; 
  background-repeat: repeat;
}
/*/body*/



/*bodytxt*/
.body-text{
  font-size: 30px;
  word-spacing: 5px;
  margin-right: 10px;
  text-align: left;
}

.semnatura {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}

.body-text,h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}
/*/bodytxt*/




/*footer*/
footer {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

#low2 a, #low a {
  font-size: 10px; 
  display: inline-block;
  margin: 5px 10px;
}

#low2 i, #low i {
  font-size: 18px; 
  margin-right: 8px;
}

#mail i {
  font-size: 14px; 
  margin-right: 8px;
}

#low {  
  text-align: right;
  font-size: xx-small;
}

#low2 {
  height: 5px;
  text-align: left;
  font-size: xx-small;
}

#year {
  font-weight: bold;
  color: #333;
}
/*/footer*/



/*media*/
@media (max-width: 768px) {
  #low2 i, #low i {
      font-size: 13px; 
  }  
  #low a, #low2 a {
      font-size: 12px; 
  }

  .body-text{
    font-size: 25px;
    word-spacing: 5px;
    margin-right: 10px;
    text-align: left;
  }
  
  .semnatura {
    font-family: "Delius", cursive;
    font-weight: 400px;
    font-style: normal;
    font-size: 18px;
  }
  
  .body-text,h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }
}

@media (min-width: 1024px) { 
  #welcome img {
      max-height: 900px; 
  }
}
/*/media*/